#datetimepicker1{
	width: 250px;
	padding-top:10px;


	

}






#main{
	padding-top:40px;
}

#datetimepicker2{
	width: 250px;
}


#datetimepicker2{
	

	padding-top: 20px;
}


#id_mediaSource{
	width: 100px;
}

#id_contain{
	width: 120px;
}

#id_netSeries{
	width: 100px;
}

#id_netCategories{
	width: 100px;
}
#id_externalAudioSeries{
	width: 100px;

}

#id_externalVideoSeries{
	width: 100px;

}





